DEBUG=True
ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://your-frontend.workers.dev
CSRF_TRUSTED_ORIGINS=


VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:you@example.com


APP_FRONTEND_URL=http://localhost:3000


CRON_SECRET=
